@charset "utf8";

.nav {
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.nav > .active {
    background-color: #eee;
    padding: 10px;
    text-align: center;
}